*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item{
    font-size: 18px;
    padding: 8px;
}
body{
    background-image: linear-gradient(white, rgb(219, 201, 255));
    width: 100%;
    height: 100%;
}
.inner-content{
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px;
}
.inner-content p{
    font-size: 20px;
    text-align: center;
}
.inner-content img{
    display: block;
    align-items: center;
    width: 70%;
    margin: 0px auto 0px auto;
}
.inner-content-2, .featured-content{
    margin: 50px;
}
.grid-align{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    padding: 30px;
}
.articles-link{
    width: 750px;
    font-size: 20px;
    padding: 0px 20px 20px 20px;
    color: rgb(150, 98, 255);
}
.articles-link a{
    color: grey;
    text-decoration: none;
}
.articles-img img{
    width: 500px;
    height: 260px;
}
.about-main{
    width: 85%;
    height: 525px;
    margin: 30px auto 0px auto;
}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(150, 98, 255);
}
footer h2{
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 30px;
    margin: auto auto;
}
.contact-content{
    color: gray;
    margin: 22px;
}
.form-label, .form-control{
    color: grey;
}
.tab-content{
    color: rgb(150, 98, 255);
}
/* HOVERING */
.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.label{
    transition: .5s ease;
    opacity: 0;
    text-align: center;
}
.label2{
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    position: absolute;
    transform: translate(163px, -200px);
}
.col-md-4{
    padding: 15px;
}
.col-md-4:hover .image{
    opacity: 0.3;
}
.col-md-4:hover .label{
    opacity: 1;
}
.col-md-4:hover .label2{
    opacity: 1;
}

.text {
    color: rgb(150, 98, 255);
    font-size: 16px;
    padding: 10px;
}
.text a{
    text-decoration: none;
    color: black;
}
.text a:hover{
    color: white;
}

/* IPHONE COMPATIBLE */
@media only screen and (max-width:550px){
    .grid-align{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .articles-link{
        text-align: center;
        margin-top: 10px;
        width: 220px;
        font-size: 15px;
        color: rgb(150, 98, 255);
    }
    .articles-link a{
        color: grey;
        text-decoration: none;
    }
    .articles-img img{
        width: 220px;
        height: 120px;
        margin: 0px;
    }
    .about-main{
        height: 20%;
        margin-bottom: 20px;
    }
    .label2{
        transition: .5s ease;
        opacity: 0;
        text-align: center;
        position: absolute;
        transform: translate(75px, -120px);
    }
}